
        h1 {
	        color: #ff00ff;
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        }
        body {
          background-color: #000000;
        }

        div {
          background-color: lightblue;
        }

        p {
          background-color: yellow;
        }
